[submodule "backend/lib/downward"]
	path = backend/lib/downward
	url = https://github.com/aibasel/downward.git
[submodule "backend/lib/planpilot"]
	path = backend/lib/planpilot
	url = https://github.com/abcorrea/planpilot.git
[submodule "backend/lib/val"]
	path = backend/lib/val
	url = https://github.com/KCL-Planning/VAL.git
[submodule "backend/lib/clingo"]
	path = backend/lib/clingo
	url = https://github.com/potassco/clingo.git
